<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tittle">
      <figure><img src="assets/icon/logo.png" class="logo fade-in" alt="ACS Bucal Logo" /></figure>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container slide-up">
    <div class="cadastro-section">
      <h1 class="login_">CADASTRO</h1>
      
      <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="cadastro-form">
        <div class="input-group">
          <input
            type="text"
            formControlName="cpf"
            placeholder="CPF"
            mask="000.000.000-00"
            class="form-input"
          />
        </div>

        <div class="input-group">
          <input
            type="text"
            formControlName="nome"
            placeholder="Nome Completo"
            class="form-input"
          />
        </div>

        <div class="input-group">
          <input
            type="text"
            formControlName="cep"
            placeholder="CEP"
            mask="00000-000"
            class="form-input"
          />
        </div>

        <div class="terms-section">
          <ion-button
            (click)="termo()"
            fill="clear"
            class="terms-button"
          >
            Ver Termos de Uso
          </ion-button>
        </div>

        <div class="checkbox-group">
          <ion-checkbox
            formControlName="check"
            (ionChange)="check_function($event)"
            class="terms-checkbox"
          ></ion-checkbox>
          <label class="terms-label">
            Eu concordo com os termos de uso
          </label>
        </div>

        <div class="button-container">
          <ion-button
            type="submit"
            expand="block"
            class="primary-button"
            [disabled]="!userForm.valid"
          >
            Cadastrar
          </ion-button>
          
          <ion-button
            (click)="return()"
            expand="block"
            class="secondary outline"
          >
            Voltar
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>

