<ion-header>
</ion-header>

<ion-content>
  <p style = "text-align: center;">TERMOS DE USO DO SOFTWARE ACS bucal</p>
  <p style = "text-align: center;">Usuário Final</p>
  <p>Bem-vindo ao <strong>ACS bucal</strong>! Convidamos você a acessar
    nosso aplicativo, que propõe ajudar no processo de ensino
    sobre saúde bucal para Agentes Comunitários de Saúde.
    Mas antes de iniciar é necessário que você leia, entenda e
    aceite estes Termos de Uso, que abordam questões
    importantes e necessárias sobre o funcionamento do nosso
    software e como os seus dados serão utilizados em nossa
    plataforma.</p>
    <p>Portanto, leia estes Termos cuidadosamente e com a máxima
      atenção, e somente aceite-os se tiver compreendido e
      acordado com todos os seus pontos.</p>
      <p><strong>1. ALGUNS CONCEITOS BÁSICOS</strong></p>
      <p>USUÁRIO: todo titular (pessoa física natural) de dado
        pessoal ou dado pessoal sensível, que utilizar a nossa
        solução.</p>
        <p>A UNIVERSIDADE DO ESTADO DO RIO DE JANEIRO – UERJ,
          CNPJ nº 33.540.014/0001-57, organizada sob a forma de
          Fundação Pública, estabelecida nesta Cidade, situada na
          Rua São Francisco Xavier, nº 524, CEP 20550-013 –
          Maracanã – RJ, é responsável pela licença do software e
          pelo desenvolvimento do sistema STO, sob a ótica da Lei
          Geral de Proteção de Dados (LGPD), Lei nº 13.709/2018
          também pode ser referida como controladora.</p>
          <p>ACS bucal: é o sistema usado pelos Usuários, disponível via
            loja de aplicativos.</p>
        <p>ACS bucal: é o sistema usado pelos Usuários, disponível via
          loja de aplicativos.</p>
        <p>DADOS PESSOAIS: Qualquer informação que permita
          identificar direta ou indiretamente uma pessoa natural.</p>
        <p>DADOS PESSOAIS SENSÍVEIS: dado referente à saúde, dado
          genético, biométrico, dentre outros, vinculado ao usuário e
          que podem ter impacto significativo sobre ele.</p>
        <p>TERMOS DE USO DO SOFTWARE: é este presente contrato,
          que contém as regras de utilização do nosso sistema. São as
          “regras do jogo” estabelecidas entre você e nós, além de
          conter informações relacionadas aos tratamentos dos seus
          dados pessoais e dados pessoais sensíveis, incluindo a
          hipótese legal, para que possamos cumprir com as
          finalidades da nossa solução de saúde e cumprimento da
          legislação aplicável.</p>
        <p>AVISO DE PRIVACIDADE: pode ser acessado no rodapé do
          app e define as regras de proteção e confidencialidade dos
          seus dados, tanto no aplicativo quanto no site.</p>
        <p>DADOS ANONIMIZADOS: compõem o conjunto de dados
          coletados dos Usuários do sistema, que são tratados por
          meio de uma técnica de processamento que remove e/ou
          modifica informações que possam identificar as pessoas a
          quem pertencem. Caso o seu dado seja anonimizado, então
          a LGPD não se aplicará a ele.</p>
        <p><strong>2. OS DIREITOS DE UM TITULAR DE DADOS</strong></p>
        <p>Todos os seus direitos, incluindo os relacionados aos seus
          dados de saúde, estão elencados na nosso Aviso de
          Privacidade, que pode ser acessado aqui. <strong>Vale ressaltar
          que o cadastramento no ACS bucal é apenas um
          sistema de ajuda para ensino</strong></p>
          <p><strong>2.1.</strong> DEVERES NO USO DO SISTEMA</p>
          <p>Ao acessar o ACS bucal, você não poderá:</p>
          <p>a) Utilizar e nem permitir o uso do sistema para outra
            finalidade que não seja o processa</p>
          <p>b) Utilizar a solução em ambientes nos quais há
            falhas, atrasos, erros ou inexatidões de conteúdo. </p>
          <p>c) Utilizar a solução de qualquer forma que possa
            implicar em ato ilícito, infração, violação de direitos
            ou danos às Partes ou terceiros, incluindo, mas não
            se limitando, ao uso para invasão de dispositivo
            informático com o objetivo de obter, adulterar ou
            destruir dados ou informações sem a autorização
            expressa do titular de tais dados ou do dispositivo</p>
            <p><strong>2.2.</strong> QUAIS DADOS SERÃO USADOS, TRATADOS E
              COMPARTILHADOS?</p>
            <p>Sempre transparentes com o Usuário, informamos que o
              tratamento dos seus dados pessoais é feito respeitando todas
              as legislações aplicáveis como o Marco Civil da Internet, a Lei
              Geral de Proteção de Dados e demais normativas
              relacionadas.</p>
            <p>As finalidades e hipóteses que permitem o tratamento e
              eventuais compartilhamento dos seus dados pessoais estão
              dispostas em nosso Aviso de Privacidade, que pode ser
              acessado aqui.</p>
            <p><strong>3. O SEU CONSENTIMENTO PARA O
              TRATAMENTO DOS DADOS DE SAÚDE UTILIZADOS NA
              APLICAÇÃO E INFORMAÇÕES CONFIDENCIAIS
              (MARCO CIVIL DA INTERNET)</strong></p>
            <p>É por meio do presente termo, em adição ao aviso de
              privacidade, onde você será informado sobre quais dados
              pessoais serão coletados e tratados e para quais
              finalidades, inclusive com relação aos seus direitos
              enquanto Titular de Dados Pessoais, nos termos do Marco
              Civil da Internet (Lei nº 12.965/2014).</p>
            <p>Nós coletaremos as informações dispostas no item 1 de
              nosso Aviso de Privacidade, que pode ser acessado aqui.</p>
            <p>Por isso, você consente e concorda com o ACESSO, COLETA,
              ARMAZENAMENTO, TRATAMENTO E TÉCNICAS DE
              PROTEÇÃO DOS SEUS DADOS, de seus dados pessoais,
              anamnese, fotografias associadas ao seu cadastro, bem
              como o uso e tratamento das demais informações
              odonotológicas e de seu conteúdo, necessárias para a
              integral execução das funcionalidades do nosso sistema.</p>
            <p>Você expressamente autoriza que nós atuemos como seu
              representante contratual, unicamente para solicitar e obter
              os dados que compõem o seu histórico. Isso será necessário
              para que nós possamos guardar essas informações em um
              ambiente seguro e para que isso esteja disponível sempre
              que necessário.</p>
            <p>Você pode, a qualquer momento, revogar o seu
              consentimento disposto nesta cláusula mas saiba que, ao
              fazê-lo, os serviços fornecidos poderão não apresentar todas
              as suas funcionalidades. Mesmo que você revogue o
              consentimento, alguns dados pessoais ainda serão
              armazenados por nós para eventual cumprimento de
              obrigação legal ou regulatória, estudo por órgão de
              pesquisa, transferência a terceiro, uso exclusivo do
              Controlador e/ou tutela judicial.</p>
            <p>Se você não concorda com estes TERMOS DE USO DO
              SISTEMA, recomendamos que interrompa o uso da nossa
              solução.</p>
            <p><strong>4. O QUE NÃO É RESPONSABILIDADE DO ACS bucal</strong></p>
            <p>Nós somos apenas um veículo de cadastro de dados e
              responsável pela guarda destes dentro de nosso sistema.
              Nós não temos responsabilidade:</p>
            <p>a) pelas informações dadas por você no cadastro de nosso sistema, ou por qualquer atitude ilegal que
              você faça enquanto usar a nossa solução.</p>
            <p>b) pelos dados inseridos e aceitos no sistema ou não
              atualizados pelo Usuário, em caso de alteração;</p>
            <p>c) pelos danos causados a terceiros ou por danos
              causados por terceiros em razão de conteúdo
              contido e autorizado pelo Usuário;</p>
            <p>d) pela qualidade e nível do serviço prestado pelo
              sistema em caso de interrupção ou limitação no
              fornecimento de internet (via rede móvel, Cabo
              de Rede ou Wi-Fi) ao Usuário. Nós não podemos
              garantir que as soluções contidas na STO
              atendam às suas necessidades, que a operação
              será livre de erros, que qualquer serviço
              continuará disponível, que os defeitos no sistema
              serão corrigidos imediatamente ou que o sistema
              será compatível ou funcione com qualquer
              software, hardware, aplicações ou serviços de
              terceiros.</p>
            <p>e) por danos ou qualquer prejuízo incidental, especial,
              indireto ou consequente, incluindo, sem limitação,
              prejuízos ou perda de dados, falha de transmissão
              ou recepção de dados, não continuidade ou
              qualquer outro prejuízo ou perda comercial,
              decorrentes ou relacionados ao seu uso ou sua
              inabilidade em usar o aplicativo, por qualquer
              outro motivo.</p>
            <p><strong>4.1.</strong> O QUE É RESPONSABILIDADE DO ACS
              bucal</p>
            <p>a) Garantir o funcionamento regular do sistema e o
              acesso do Usuário, contanto que tenha acesso à
              todas as informações necessárias, não haja mau
              uso da solução por parte do Usuário e que as
              disposições desse termo e do Aviso de Privacidade
              sejam respeitados;</p>
            <p>b) Na ocorrência de falhas de programação
              (“bugs”), a UERJ obriga-se a corrigir tais
              falhas em prazo razoável, a partir de sua
              ciência, respeitand o o planejamento interno
              de evolução da solução; Excluir, total ou
              parcialmente, as informações cadastradas
              que não estejam em consonância com as
              disposições ajustadas;</p>
            <p><strong>5. DO TRATAMENTO DOS SEUS DADOS PESSOAIS
              E DADOS PESSOAIS SENSÍVEIS</strong></p>
            <p>Sobre as funcionalidades e tratamentos dos seus
              dados pessoais e dados pessoais sensíveis devido ao
              seu uso do ACS bucal, como Usuário, engloba:</p>
            <p>a) Acesso via web page criptografada, com
              requisição de usuário e senha;</p>
            <p>b) Acesso de coordenadores do ACS bucal,
              cirurgiões dentistas devidamente registrados em
              Conselhos de Classe e formalmente vinculados à
              UERJ e servidores públicos da UERJ, como por
              exemplo, desenvolvedores e pessoal do suporte
              técnico. Este tratamento objetiva a avaliação dos
              seus dados e o direcionamento do seu
              atendimento de acordo com a demanda
              acadêmica da faculdade de odontologia da UERJ;</p>
            <p>Todos os seus dados serão tratados através dos recursos da
              UERJ que englobam: recursos tecnológicos, humanos dentre
              outros.</p>
            <p><strong>6. DA PROPRIEDADE INTELECTUAL E DA LICENÇA DE
              USO DO ACS buca</strong></p>
            <p>Você não adquire, pelo presente instrumento ou pela
              utilização da solução, nenhum direito de propriedade
              intelectual ou outros direitos exclusivos, incluindo patentes,
              desenhos, marcas, direitos autorais ou quaisquer direitos
              sobre todo o conteúdo disponibilizado no sistema, incluindo,
              mas não se limitando a textos, gráficos, imagens, logotipos,
              ícones, fotografias, conteúdo editorial, notificações,
              softwares e qualquer outro material, sobre ou relacionados
              ao ACS bucal ou nenhuma parte dele, mas somente o direito
              expressamente licenciado por meio do presente instrumento.</p>
            <p>Sujeito aos termos e condições aqui estabelecidos, este
              contrato concede ao Usuário uma licença revogável, não
              exclusiva e intransferível, para uso do ACS bucal.</p>
            <p><strong>7. DA SEGURANÇA DAS INFORMAÇÕES E PROTEÇÕES
              TÉCNICAS</strong></p>
            <p>Serão utilizadas as melhores práticas de mercado
              necessárias para garantir a proteção de seus dados inseridos
              no sistema.</p>
            <p><strong>8. RESTITUIÇÃO DAS INFORMAÇÕES</strong></p>
            <p>Suspenso ou cancelado o acesso do Usuário à solução, para
              cumprir com o disposto no Marco Civil da Internet (Lei
              12.965/2014), armazenaremos, sob sigilo, os registros de
              acesso ao aplicativo e a plataforma na internet pelo prazo
              mínimo de 6 (seis) meses.</p>
            <p>Após esse período todas as informações contidas no
              sistema serão excluídas permanentemente, sendo
              removidas do banco de dados do ACS bucal.</p>
            <p>Ressaltamos que poderemos manter suas informações
              armazenadas em nossa plataforma enquanto for necessário
              para o cumprimento de obrigações legais ou regulatórias ou
              o exercício regular de direitos em processo judicial,
              administrativo ou arbitral, bem como que poderemos
              manter informações de forma anonimizada, conforme
              previsão da LGPD por 15 anos.</p>
            <p><strong>9. DISPOSIÇÕES GERAIS</strong></p>
            <p><strong>9.1.</strong> CADASTRO DE USUÁRIOS NA SOLUÇÃO</p>
            <p>Nossa solução está disponível para Usuários maiores de 18
              anos, pessoas físicas, que se adequem aos seus fins e
              obedeçam e cumpram todas as disposições deste termo e
              do Aviso de Privacidade.</p>
            <p>Somente é permitida a criação de um cadastro por CPF/MF
              (Cadastro Nacional de Pessoa Física do Ministério da
              Fazenda do Brasil).</p>
            <p>Você autoriza que nós confiramos a veracidade dos seus
              dados cadastrais e, caso se constatemos um conflito, ou na
              hipótese de envio incompleto de documentos solicitados
              para complementação ou comprovação de regularidade, nós
              poderemos excluir o seu cadastro, sem prejuízo de outras
              medidas necessárias.</p>
            <p>Em casos de alteração da senha, o usuário também não
              deve usar senhas de fácil descoberta (tais como data de
              aniversário, “1234”, “abcd”,...) prezando pela proteção de
              suas informações.</p>
            <p>Nós não nos responsabilizamos por perda de senhas ou mau
              uso dos dados pelo Usuário ou por terceiros que tenham
              acesso ao aplicativo utilizando de senhas fornecidas pelo
              próprio Usuário. Deste modo, você não deverá compartilhar
              seus dados de acesso com outras pessoas, pois qualquer prejuízo que tenha ocorrido em decorrência de tal
              divulgação será de sua responsabilidade.</p>
            <p>O Usuário declara ciência de que, em caso de perda ou
              divulgação inadvertida de sua senha ou aparelho de
              telefonia móvel, será sua obrigação a comunicação imediata
              ao ACS bucal, por meio de nossos canais
              (teleodontofouerj@gmail.com) para que sejam adotadas
              providências de confirmações e encaminhamento de novas
              senhas geradas sistemicamente.</p>
            <p>O Usuário declara ciência de que, em caso de perda ou
              divulgação inadvertida de sua senha ou aparelho de
              telefonia móvel, será sua obrigação a comunicação imediata
              ao ACS bucal, por meio de nossos canais
              (teleodontofouerj@gmail.com) para que sejam adotadas
              providências de confirmações e encaminhamento de novas
              senhas geradas sistemicamente.</p>
            <p><strong>9.2.</strong> REATIVAÇÃO DE UMA CONTA</p>
            <p>Caso haja o cancelamento, voluntário ou involuntário, da
              Conta ACS bucal e o Usuário queira reativá-la, este deverá
              entrar em contato nos canais (teleodontofouerj@gmail.com)
              solicitando a reativação do seu cadastro, estando ciente
              que, uma vez efetivado o cancelamento, por qualquer
              motivo, a UERJ não garante a preservação dos dados
              anteriormente salvos ou adicionados.</p>
            <p>Caso o Usuário opte em não dar continuidade na utilização
              do ACS bucal, está ciente que o cancelamento inviabiliza a
              guarda das informações constantes do App, não se
              responsabilizando a UERJ pelas informações perdidas.</p>
            <p><strong>9.3.</strong> DISPOSIÇÕES FINAIS</p>
            <p>Você poderá rescindir este contrato a qualquer tempo,
              através da comunicação para a UERJ;</p>
            <p>Nós poderemos rescindir esse contrato:</p>
            <p>a) A qualquer tempo, caso haja descumprimento de
              qualquer termo do presente contrato, inclusive
              por verificação de qualquer tipo de fraude,
              independente de comunicação prévia;</p>
            <p>b) A qualquer tempo. Nesse caso vamos comunicar
              você por meio dos contatos fornecidos pelo
              Usuário na plataforma, com antecedência mínima
              de 15 (quinze) dias.</p>
            <p>A tolerância quanto ao descumprimento de qualquer uma
              das obrigações assumidas neste instrumento não implicará
              em novação ou renúncia de direito. A parte tolerante
              poderá, a qualquer tempo, exigir da outra parte o fiel e
              cabal cumprimento deste instrumento.</p>
            <p>Não constitui causa de rescisão contratual o não
              cumprimento das obrigações aqui assumidas em
              decorrência de fatos que independam da vontade das
              partes, tais como os que configuram o caso fortuito ou
              força maior, conforme previsto no artigo 393 do Código
              Civil Brasileiro.</p>
            <p>Se qualquer disposição for considerada nula, anulável,
              inválida ou inoperante, o restante dos termos de uso não
              será afetado, ou seja, as disposições restantes
              permanecerão em pleno vigor e efeito.</p>
            <p>Alertamos que todas as operações de aceite destes
              termos, do Aviso de Privacidade, e quaisquer informações
              geradas para rescisão de nosso contrato serão registradas
              e armazenadas por nós, incluindo a data e a hora em que
              essas informações foram geradas ou prestadas por você.</p>
            <p>Este instrumento será regido, interpretado e se sujeitará
              às leis brasileiras. Você e a UERJ elegem o Foro Central da
              Comarca de Região Metropolitana do Rio de Janeiro, Estado do Rio de Janeiro, para dirimir quaisquer dúvidas ou
              controvérsias oriundas deste Termo de Uso, com a exclusão
              de qualquer outro.</p>
            <p>Os termos do presente instrumento entram em vigor para
              as Partes na data de aceite do Usuário e durante prazo da
              assinatura contratada.</p>
            <p>Rio de Janeiro, 15 de setembro de 2022.</p>
            <div style = "text-align: center;">
            <ion-button routerLink = "/cadastro">Voltar</ion-button>
            </div>
</ion-content>
