/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content{

  --ion-background-color:var(--cor-fundo);
    font-size: 1.2em;
}

img {
  width: 500px;
  height: auto;
}

input{border: 1px solid white; background: transparent;box-shadow: 0px;border-radius: 10px; text-align: center;}

input::placeholder{color : white; text-align: left;}


ion-button{
  --border-radius: 0%;
  --background:var(--cor-elementos);
  color: white;
  text-align: center;
  text-transform: none;

}

:root{
  --cor-elementos: #FF9933;
  --cor-fundo: rgb(20, 69, 128);
  --cor-hover: rgb(213, 138, 84);
}

ion-select::placeholder{
--color:white;
--text-align: center;}

.tittle{
  text-align: center;
}

.login_{
      color: white;
      text-align: center;}

.comentarios{
  color: white;
}

.menu_button{
  height: 45px;
}

ion-text-wrap{
  --line-height: 45px;
}

/*:root{--ion-font-family: 'Bungee Spice', cursive;}

:root{--ion-toolbar-background: white;
--ion-toolbar-color: white;
--ion-background-color: linear-gradient (0deg, blue 0%, white 100%);

}*/

