<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tittle">
      <figure><img src="assets/icon/logo.png" class="logo fade-in" alt="ACS Bucal Logo" /></figure>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container slide-up">
    <div class="login-section">
      <h1 class="login_">LOGIN</h1>
      
      <div class="input-container">
        <input
          class="input_cpf"
          type="text"
          name="cpf"
          id="cpf"
          mask="000.000.000-00"
          placeholder="CPF"
          [(ngModel)]="cpf"
        />
      </div>

      <div class="button-container">
        <ion-button 
          expand="block" 
          (click)="entrar()" 
          class="primary-button"
          [disabled]="!cpf || cpf.length < 11"
        >
          Entrar
        </ion-button>
        
          <ion-button 
            expand="block" 
            (click)="cadastrar()" 
            class="secondary outline"
          >
          Cadastrar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

